/* General setup */
/* Remember to always comment*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */
section {
  float: right;
  width: 70%;
}

aside {
  float: left;
  width: 30%;
  margin-top: 40px;
}

nav {
  width: 100%;
  position: absolute;
  z-index: 1;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
body {
  font-size: 14px;
  line-height: 25px;
}

header {
  text-align: center;
}

body {
  font-family: 'Kodchasan', sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
}

h1, .inner_heading {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
}

a {
  color: #a66;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

a:active {
  color: black;
  font-size: 20px;
}

a[href*="http"] {
  background: url(../img/ext.png) no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 10px;
}

ul {
  list-style-type: none;
  line-height: 25px;
  letter-spacing: 2px;
  word-spacing: 3px; 
}

ul li:before {

  content: '';

  display: inline-block;

  height: 15px;

  width: 15px;

   background-size: 15px;

  background-image: url("../img/download.png");

  background-repeat: no-repeat;

  margin-right: 5px;

}

h1 {
  text-align: center;
  font-size: 2rem;
}

.inner_heading{
  font-size: 1.5rem;
}

section {
  text-indent: 20px;
  margin-top: 40px;
}

nav ul li:before {
  display: none;
}

nav ul li {
  float: left;
  padding: 10px 4%;
  background-color: #a66;
}

nav ul {
  display: block;
  width: 90%;
  margin-top: 0;
  margin-bottom: 100px;
  background-color: #a66;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

nav ul li:hover {
  background-color: beige;
}